.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-2-3
      %h1.uk-text-right О Портале
      .uk-panel.uk-panel-box
        -@about.each do |id,q|
          %p #{q}
    -showverticalad