.uk-container.uk-container-center
  %br
  %hr
  %h1.uk-text-center Изменение пароля
  .uk-grid
    .uk-width-2-3
      %hr
      %form.uk-form.uk-form-horizontal{:action => "/changepassword"}
        %fieldset
          .uk-form-row
            %label.uk-form-label Текущий пароль
            %input#oldpass.uk-form-width-large{:type=>"text", :required=>"", :name=>"oldpass"}
          .uk-form-row
            %label.uk-form-label Новый пароль
            %input#newpass1uk-form-width-large{:type=>"text", :required=>"", :name=>"newpass1"}
          .uk-form-row
            %label.uk-form-label Повторите новый пароль
            %input#newpass2.uk-form-width-large{:type=>"text", :required=>"", :name=>"newpass2"}
      %hr
        .uk-grid
          .uk-width-1-3.uk-text-center.uk-push-1-3
            %button#editprofile.uk-button.uk-button-{:type=>"submit"}
              %i.uk-icon-edit
              Изменить пароль