.uk-width-1-1
  .uk-container.uk-container-center
    %div
      #express.uk-width-2-3.uk-container-center
        %br
        %h2
          %mark Если нужно отремонтировать автомобиль,
          заказать выезд автоэлектрика, ремонт двигателя, бампера, ходовой, узнать цену покраски или решить любую другую проблему с машиной, то просто
          %mark заполните форму
          ниже и выберите наиболее выгодное предложение от автомастеров, автомастерских, СТО и сервисцентров
        -#
          %br
        -#
          .uk-grid{"data-uk-grid-match"=>""}
          .uk-width-1-3
            .uk-text-center{:style=>"background: url('./img/1.png') no-repeat; background-size: contain; padding: 40px; padding-top: 15px;"}
              Бесплатно заполните заявку
          .uk-width-1-3
            .uk-text-center{:style=>"background: url('./img/2.png') no-repeat; background-size: contain; padding: 40px; padding-top: 15px;"}
              Сравните условия и цены
          .uk-width-1-3
            .uk-text-center{:style=>"background: url('./img/3.png') no-repeat; background-size: contain; padding: 40px; padding-top: 15px;"}
              Выберите исполнителя
        %form#expressorder.uk-form.uk-form-horizontal.uk-margin-top{:action => "/expressorder", :method => "post", :enctype=>"multipart/form-data"}
          .uk-form-row
            %label.uk-form-label{:for=>"location"}
              %i.uk-icon-home
              Населенный пункт
            .uk-form-controls
              %input#expressuserlocation.uk-width-1-1{:type=>"text", :required=>"", :name=>"fulllocation", "data-uk-tooltip" => "{pos:'top-left'}", :title => "Введите первые буквы неселенного пункта где вы находитесь. Выберите из списка нужный вариант. При выборе небольших населенных пунктов обратите внимание на корректность района и области!"}
              %br
              %label.error.uk-text-small.uk-text-danger{:for=>"expressuserlocation"}
              %input#expressuserlocationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true"}
              %input#expressuserarea{:type=>"text", :name=>"area", :hidden=>"true"}
              %input#expressuserregion{:type=>"text", :name=>"region", :hidden=>"true"}
          -#
            .uk-form-row{:style=>"margin-top: 20px;"}
            %label.uk-form-label{:for=>"title"}
              %i.uk-icon-edit
              Заголовок заявки
            .uk-form-controls
              %input#expresstitle.uk-width-1-1{:type=>"text", :name=>"title", :required=>"", "data-uk-tooltip" => "{pos:'top-left'}", :title => "Укажите заголовок вашей заявки"}
              %br
              %label.error.uk-text-small.uk-text-danger{:for=>"expresstitle"}
          .uk-form-row{:style=>"margin-top: 20px;"}
            %label.uk-form-label{:for=>"vehicle"}
              %i.uk-icon-truck
              Автомобиль
            .uk-form-controls
              %table
                %tr
                  %td{:style=>"padding-bottom: 20px; padding-right: 20px;"}
                    %label{:for=>"vehiclemake"} Марка
                  %td{:style=>"padding-bottom: 20px;"}
                    %select#vehiclemake{:type=>"text", :name=>"vehiclemake"}
                      %option{:disabled =>"", :selected=>""} Выберите марку
                      %option Acura
                      %option Alfa Romeo
                      %option Alpina
                      %option Aro
                      %option Asia
                      %option Aston Martin
                      %option Audi
                      %option BMW
                      %option BYD
                      %option Bentley
                      %option Bogdan
                      %option Brilliance
                      %option Bugatti
                      %option Buick
                      %option Cadillac
                      %option Changan
                      %option Changfeng
                      %option Chery
                      %option Chevrolet
                      %option Chrysler
                      %option Citroen
                      %option Dacia
                      %option Dadi
                      %option Daewoo
                      %option Daihatsu
                      %option DeLorean
                      %option Derways
                      %option Dodge
                      %option Eagle
                      %option FAW
                      %option Ferrari
                      %option Fiat
                      %option Ford
                      %option GMC
                      %option Geely
                      %option Great Wall
                      %option Hafei
                      %option Haima
                      %option Honda
                      %option Hummer
                      %option Hyundai
                      %option Infiniti
                      %option Iran Khodro
                      %option Isuzu
                      %option JMC
                      %option Jaguar
                      %option Jeep
                      %option Kia
                      %option Lada (ВАЗ)
                      %option Lamborghini
                      %option Lancia
                      %option Land Rover
                      %option Lexus
                      %option Lifan
                      %option Lincoln
                      %option Lotus
                      %option Luxgen
                      %option MG
                      %option MINI
                      %option Maserati
                      %option Maybach
                      %option Mazda
                      %option Mercedes-Benz
                      %option Mercury
                      %option Mitsubishi
                      %option Mitsuoka
                      %option Nissan
                      %option Opel
                      %option Peugeot
                      %option Pontiac
                      %option Porsche
                      %option Renault
                      %option Rolls-Royce
                      %option Rover
                      %option Saab
                      %option Scion
                      %option Seat
                      %option Skoda
                      %option Smart
                      %option SsangYong
                      %option Subaru
                      %option Suzuki
                      %option Tagaz (ТагАЗ)
                      %option Toyota
                      %option Volkswagen
                      %option Volvo
                      %option Vortex
                      %option ZAZ (ЗАЗ)
                      %option ГАЗ
                      %option ИЖ
                      %option Москвич
                      %option УАЗ
                      %option нет в списке
                    %br
                    %label.error.uk-text-small.uk-text-danger{:for=>"vehiclemake"}
                  %td{:style=>"padding-bottom: 20px; padding-right: 20px; padding-left: 20px;"}
                    %label{:for=>"vehiclemodel"} Модель
                  %td{:style=>"padding-bottom: 20px;"}
                    %input#vehiclemodel{:type=>"text", :name=>"vehiclemodel"}
                    %br
                    %label.error.uk-text-small.uk-text-danger{:for=>"vehiclemodel"}
          .uk-form-row{:style=>"margin-top: 0px;"}
            %label.uk-form-label{:for=>"subject"}
              %i.uk-icon-wrench
              Описание проблемы
            .uk-form-controls
              %textarea#expresssubject.uk-width-1-1{:name=>"subject", :cols=>"100%", :rows=>"4", "data-uk-tooltip" => "{pos:'top-left'}", :title => "Опиште суть вашей заявки. Например, укажите состав и объем требуемых работ, пожелания к срокам, стоимости и т.п. Внесите сюда максимум информации, которая бы помогла потенциальным исполнителям подготовить наиболее оптимальное предложение"}
              %br
              %label.error.uk-text-small.uk-text-danger{:for=>"expresssubject"}
          -#
            .uk-form-row{:style=>"margin-top: 20px;"}
            %label.uk-form-label{:for=>"photo"}
              %i.uk-icon-camera
              Прикрепить фотографии
            .uk-form-controls
              %input#expressphotos{:type=>"file", :name=>"photos[]", :multiple=>""}
          .uk-form-row{:style=>"margin-top: 20px;"}
            %label.uk-form-label{:for=>"fullname"}
              %i.uk-icon-user
              Контактное лицо
            .uk-form-controls
              %input#expressfullname.uk-width-1-1{:type=>"text", :required=>"", :name=>"fullname", "data-uk-tooltip" => "{pos:'top-left'}", :title => "Пожалуйста, представьтесь. Это имя будет использоваться при публикации заявок и для идентификации других ваших действий на Портале"}
              %br
              %label.error.uk-text-small.uk-text-danger{:for=>"expressfullname"}
          .uk-form-row{:style=>"margin-top: 20px;"}
            %label.uk-form-label{:for=>"email"}
              %i.uk-icon-envelope
              Электронная почта для получения уведомлений
            .uk-form-controls
              %input#expressemail.uk-width-1-1{:type=>"text", :required=>"", :name=>"email", "data-uk-tooltip" => "{pos:'top-left'}", :title => "Укажите корректный адрес электронной почты. Он будет использоваться для входа на Портал и получения уведомлений"}
              %br
              %label.error.uk-text-small.uk-text-danger{:for=>"expressemail"}
          .uk-form-row{:style=>"margin-top: 20px;"}
            %label
              %input.masterrules{:type=>"checkbox", :name=>"terms"}
              Я принимаю
              %a{:href=>"/terms"}
                cоглашение об использовании интернет-сервиса Ремзона24.ру
          .uk-form-row{:style=>"margin-top: 20px;"}
            .uk-width-1-1
              .uk-container-center.uk-text-center
                %button#expresssubmit.uk-button.uk-button-success.uk-button-large{:type=>"submit"} Отправить заявку
        %br
:javascript
  $(function() {
    $('#expressuserlocation').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1&count=10",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                title: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#expressuserlocationtitle').val(ui.item.title);
        $('#expressuserarea').val(ui.item.area);
        $('#expressuserregion').val(ui.item.region);
      }
    });
    
    var expressordervalidator = $("#expressorder").validate({
      debug: true,
      rules: {
        email: {
          required: true,
          email: true,
          remote: {
            url: "/ajax/checkemail",
            type: "post"
          }
        },
        title: {
          required: true,
          maxlength: 50
        },
        vehiclemake: {
          required: true
        },
        vehiclemodel: {
          required: true,
          maxlength: 50
        },
        subject: {
          required: true,
        },
        fulllocation: {
          required: true,
          remote: {
            url: "/ajax/checklocation",
            type: "post",
            data: {
              locationtitle: function() {
                return $("#expressuserlocationtitle").val()
              },
              area: function() {
                return $("#expressuserarea").val()
              },
              region: function() {
                return $("#expressuserregion").val()
              }
            }
          }
        },
        fullname: {
          required: true,
          remote: {
            url: "/ajax/checkfullname",
            type: "post"
          }
        },
        terms: {
          required: true
        }
      },
      messages: {
        email: "Введите корректный адрес электронной почты",
        fullname: "Введите полное имя контактного лица",
        fulllocation: "Выберите населенный пункт из списка",
        title: "Введите заголовок заявки",
        subject: "Введите описание заявки",
        vehiclemake: "Выберите марку из списка",
        vehiclemodel: "Введите модель",
        terms: " "
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
