!!!5
%html
  %head
    %title РемЗона24.ру : груглосуточная ремзона для Вашего автомобиля
    %link{:href=>'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Serif&subset=latin,cyrillic', :rel=>'stylesheet', :type=>'text/css'}
    / %link{:rel => "stylesheet", :href => "/css/customuikit.almost-flat.css"}
    %link{:rel => "stylesheet", :href => "/css/uikit.almost-flat.min.css"}
    %link{:rel => "stylesheet", :href => "/css/notify.almost-flat.min.css"}

    %link{:rel => "stylesheet", :href => "/css/bg.css"}

    %link{:rel=>"stylesheet", :href=>"/textext/css/textext.core.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/textext/css/textext.plugin.tags.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/textext/css/textext.plugin.autocomplete.css", :type=>"text/css"}
    / %link{:rel=>"stylesheet", :href=>"/textext/css/textext.plugin.focus.css", :type=>"text/css"}
    / %link{:rel=>"stylesheet", :href=>"/textext/css/textext.plugin.prompt.css", :type=>"text/css"}
    / %link{:rel=>"stylesheet", :href=>"/textext/css/textext.plugin.arrow.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/jquery-ui.css", :rel=>'stylesheet', :type=>'text/css'}
    %link{:rel=>"stylesheet", :href=>"/css/selectize.default.css", :rel=>'stylesheet', :type=>'text/css'}
    %link{:rel=>"stylesheet", :href=>"/css/jquery.fancybox.css?v=2.1.5", :rel=>'stylesheet', :type=>'text/css'}
    %link{:rel=>"stylesheet", :href=>"/css/jquery.fancybox-buttons.css", :rel=>'stylesheet', :type=>'text/css'}

    / %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "http://yandex.st/jquery/1.10.2/jquery.min.js", :type=>"text/javascript"}
    %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js", :type=>"text/javascript"}
    %script{:src => "/js/jquery.validate.min.js", :type=>"text/javascript"}
    %script{:src => "/js/uikit.min.js", :type=>"text/javascript"}
    %script{:src => "/js/notify.min.js", :type=>"text/javascript"}
    %script{:src => "/js/sticky.min.js", :type=>"text/javascript"}
    / %script{:src => "/js/jquery.kladr.min.js"}
    / %script{:src => "/js/jquery-validate.min.js"}
    %script{:src => "/js/jquery.fancybox.pack.js?v=2.1.5", :type=>"text/javascript"}
    %script{:src => "/js/jquery.fancybox-buttons.js", :type=>"text/javascript"}

    %script{:src=>"/textext/js/textext.core.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/textext/js/textext.plugin.tags.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/textext/js/textext.plugin.autocomplete.js", :type=>"text/javascript", :charset=>"utf-8"}
    / %script{:src=>"/textext/js/textext.plugin.suggestions.js", :type=>"text/javascript", :charset=>"utf-8"}
    / %script{:src=>"/textext/js/textext.plugin.filter.js", :type=>"text/javascript", :charset=>"utf-8"}
    / %script{:src=>"/textext/js/textext.plugin.focus.js", :type=>"text/javascript", :charset=>"utf-8"}
    / %script{:src=>"/textext/js/textext.plugin.prompt.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/textext/js/textext.plugin.ajax.js", :type=>"text/javascript", :charset=>"utf-8"}
    / %script{:src=>"/textext/js/textext.plugin.arrow.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"/js/selectize.min.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:src=>"http://api-maps.yandex.ru/2.1-dev/?lang=ru-RU&load=package.full", :type=>"text/javascript"}
    %script{:src=>"/js/jquery.raty.min.js", :type=>"text/javascript", :charset=>"utf-8"}

    :javascript
      function displaynotify(txt) {
        $.UIkit.notify({
          message : txt,
          timeout : 5000,
          pos     : 'top-center'
        });
      }

  %body
    .uk-width-large-1-1{:style=>"min-height:100%; position:relative;"}
      .content{:style=>"padding: 0px 0px 320px;"}
        -if session[:messagetodisplay] && session[:messagetodisplay].size>0
          -session[:messagetodisplay].split("; ").each do |m|
            :javascript
              displaynotify("#{m}");
        - clearflashmessage
        =yield
      .tm-footer.uk-margin-top
        .uk-container.uk-container-center.uk-text-center
          %ul.uk-subnav.uk-subnav-line
            %li
          .uk-panel
            %p RemZona24.ru - груглосуточная ремзона для Вашего автомобиля

:javascript

  $(function() {

    $('#areascope').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                title: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#areascope').val(ui.item.label);
        $('#sitelocation').val(ui.item.title);
        $('#sitearea').val(ui.item.area);
        $('#siteregion').val(ui.item.region);
      }
    });
  });