:javascript
  window.intercomSettings = {
    // TODO: The current logged in user's full name
    name: "#{@current_user.displayedname}",
    // TODO: The current logged in user's email address.
    email: "#{@current_user.email}",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: #{@current_user.created_at.to_time.to_i},
    app_id: "a5ca24cdd87ff5aadfc72c3ce75983419ea6a537"
  };

:javascript
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

.tm-navbar.uk-navbar.uk-navbar-attached{"data-uk-sticky"=>"", :style=>"z-index: 2; box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5); border-top: none;"}
  .uk-container.uk-container-center
    %ul.uk-navbar-nav.uk-visible-large
      %li
        %a.uk-navbar-nav-subtitle{:href=>"/"}
          %i.uk-icon-home
          Главная
          %div
            %mark
              Ремзона24.ру
      %li
        %a.uk-navbar-nav-subtitle{:href=>"/profile"}
          %i.uk-icon-user
          Личный кабинет
          - if unreadmessages > 0
            .uk-badge.uk-badge-notification.uk-badge-danger{"data-uk-tooltip" => "", :title => "У вас есть непрочитанные уведомления"}
              =unreadmessages
          %div
            %mark
              = @current_user.fullname ? @current_user.fullname : @current_user.name + " " + @current_user.familyname
    %ul.uk-navbar-nav.uk-navbar-flip
      %li
        .uk-navbar-content
          .uk-button-group
            %form.uk-form{:action => "/#lastorders", :method => "post"}
              %input#areascope.uk-form-width-medium.uk-form-small{:type=>"text", :name=>"areascope", :placeholder => session[:siteregionplaceholder]}
              %input#sitelocation{:type=>"text", :name=>"sitelocation", :hidden=>"true"}
              %input#sitearea{:type=>"text", :name=>"sitearea", :hidden=>"true"}
              %input#siteregion{:type=>"text", :name=>"siteregion", :hidden=>"true"}
              %button.uk-button.uk-button-mini.uk-button-primary{:type=>"submit", :style=>"margin-left: 5px; vertical-align: middle;"} Изменить
      %li
        %a{:href=>"/auth/logout"}
          %i.uk-icon-sign-out
          Выйти из системы
=yield