.tm-navbar.uk-navbar.uk-navbar-attached{"data-uk-sticky"=>"", :style=>"z-index: 2; box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5); border-top: none;"}
  .uk-container.uk-container-center
    %ul.uk-navbar-nav.uk-visible-large
      %li
        %a.uk-navbar-nav-subtitle{:href=>"/"}
          %i.uk-icon-home
          Главная
          %div
            %mark
              РемЗона24.ру
      %li
        %a.uk-navbar-nav-subtitle{:href=>"/profile"}
          %i.uk-icon-user
          Личный кабинет
          - if unreadmessages > 0
            .uk-badge.uk-badge-notification.uk-badge-danger{"data-uk-tooltip" => "", :title => "У вас есть непрочитанные уведомления"}
              =unreadmessages
          %div
            %mark
              = @current_user.fullname ? @current_user.fullname : @current_user.name + " " + @current_user.familyname
    %ul.uk-navbar-nav.uk-navbar-flip
      %li
        .uk-navbar-content
          .uk-button-group
            %form.uk-form{:action => "/#orders", :method => "post"}
              %input#areascope.uk-form-width-large.uk-form-small{:type=>"text", :name=>"areascope", :placeholder => session[:siteregionplaceholder]}
              %input#sitelocation{:type=>"text", :name=>"sitelocation", :hidden=>"true"}
              %input#sitearea{:type=>"text", :name=>"sitearea", :hidden=>"true"}
              %input#siteregion{:type=>"text", :name=>"siteregion", :hidden=>"true"}
              %button.uk-button.uk-button-mini.uk-button-primary{:type=>"submit", :style=>"margin-left: 5px; vertical-align: middle;"} Изменить
      %li
        %a{:href=>"/auth/logout"}
          %i.uk-icon-sign-out
          Выйти из системы
=yield