.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-1-1
      %h1.uk-text-right Обсуждение предложения № #{@offer.id}
      .uk-panel.uk-panel-box
        %table.uk-table.uk-table-striped.uk-table-condensed
          %tbody
          %tr
            %td
              %i.uk-icon-wrench
            %td
              %h3.uk-margin-bottom-remove Исходное предложение
            %td
              %a{:href=>"/offer/#{@offer.id}"}
                Предложение № #{@offer.id}
        -if (@current_user.type == "Master" && @current_user == @offer.user) || (@current_user.type == "User" && @current_user == @order.user)
          %form#newmessage.uk-form.uk-form-horizontal{:action => "/addquestionto?offer=" + @offer.id.to_s, :method => "post"}
            .uk-form-row
              %label.uk-form-label{:for=>"question"}
                %h3 Текст
              .uk-form-controls
                %textarea#subject.uk-width-1-1{:type=>"text", :required=>"", :name=>"question", :rows=>"6"}
                %br
                %label.error.uk-text-small.uk-text-danger{:for=>"question"}
            .uk-container-center.uk-text-center{:style=>"margin-top: 15px;"}
              -if @current_user.type == "Master"
                %button.uk-button.uk-button-success{:type=>"submit"}Разместить доп.информацию
              -else
                %button.uk-button.uk-button-success{:type=>"submit"}Разместить вопрос
      - if @rootquestions && @rootquestions.size > 0
        %h1.uk-text-right Вопросы и ответы
        - @rootquestions.each do |q|
          -showmessagebranch(q,0)
      - else
        .uk-alert.uk-alert-danger{"data-uk-alert"=>""}
          - if @current_user.type == "User"
            %a.uk-alert-close.uk-close{:href=>""}
            Обсуждение предложения не велось. Если у вас есть вопрос, то задайте его в форме выше.
          - else
            %a.uk-alert-close.uk-close{:href=>""}
            Обсуждение предложения не велось.
    -showverticalad

:javascript
  $(function() {
    var questionvalidator = $("#newmessage").validate({
      debug: true,
      rules: {
        subject: {
          required: true,
          minlength: 3,
          maxlength: 50
        },
        question: {
          required: true,
          maxlength: 65535
        }
      },
      messages: {
        subject: "Введите тему сообщения длинной от 3 до 50 символов",
        question: "Введите текст сообщения длинной до 65535 символов"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });