.uk-width-1-1{:style=>"padding-top: 30px; background: #143358 url('./img/div_pattern.png') repeat 0 0;"}
  .uk-container.uk-container-center
    .uk-text-center{:style=>"background: url('./img/index_top_bg.png') center 40% no-repeat;"}
      %h1.uk-text-bold{:style=>"color: white;"} Вы ремонтируете или обслуживаете автомобили? Хотите получить новые заказы и увеличить свою прибыль? Или просто хотите получить дополнительный заработок?
      %h2{:style=>"color: white;"} С помощью Ремзона24.ру вы найдете новых клиентов и увеличите объем продаж.
      %br
      %br
      %a#regmasterbutton.uk-button.uk-button-large.uk-button-success{:href=>"#register", "data-uk-modal"=>"{bgclose:false}", :onclick=>"yaCounterCOUNTER_ID.reachGoal('MASTER_REG'); return true;"}
        %h2.uk-margin-top.uk-margin-bottom-remove.uk-text-bold Зарегистрируйтесь автомастером прямо сейчас!
        .uk-margin-bottom Это бесплатно и не займет много времени!
      %br
      %br
      %div{:style=>"position: relative; left: 0; top: 0;"}
        %img{:src=>"./img/promoscreens.png"}
        %img{:src=>"./img/index_shadow.png", :style=>"bottom: 0; height: 70px; left: 0; position: absolute; width: 100%;"}
=yield