.uk-width-1-1{:style=>"padding-top: 30px; background: #143358 url('./img/div_pattern.png') repeat 0 0;"}
  .uk-container.uk-container-center
    .uk-text-center{:style=>"background: url('./img/index_top_bg.png') center 40% no-repeat;"}
      %h1.uk-text-bold{:style=>"color: white;"} Вы ремонтируете или обслуживаете автомобили? Хотите получить новые заказы и увеличить свою прибыль? Или просто хотите получить дополнительный заработок?
      %h2{:style=>"color: white;"} С помощью РемЗона24.ру вы найдете новых клиентов и увеличите объем продаж.
      %br
      %br
      %a#regmasterbutton.uk-button.uk-button-large.uk-button-primary{:href=>"#register", "data-uk-modal"=>"{bgclose:false}"}
        %h2.uk-margin-top.uk-margin-bottom-remove Зарегистрируйтесь автомастером прямо сейчас!
        .uk-text-small.uk-margin-bottom Это бесплатно и не займет много времени!
      %br
      %br
      %div{:style=>"position: relative; left: 0; top: 0;"}
        %img{:src=>"./img/promoscreens.png"}
        %img{:src=>"./img/index_shadow.png", :style=>"bottom: 0; height: 70px; left: 0; position: absolute; width: 100%;"}
.uk-width-1-2.uk-container-center{:style=>"padding-top: 30px;"}
  .uk-container.uk-container-center
    .uk-text-center
      %h1.uk-text-bold РемЗона24.ру - площадка №1 для поиска заказов нарядов на ремонт атвомобилей в вашем регионе!
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %h2.uk-text-bold Бесплатно
        %p Да! Наш сервис бесплатен. Никаких пробных периодов или скрытых платежей. Мы просто хотим что-бы вы и заказчик нашли друг-друга
      .uk-width-1-2
        %img{:src=>"./img/free.png"}
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %img{:src=>"./img/lk.png"}
      .uk-width-1-2
        %h2.uk-text-bold Удобный личный кабинет
        %p В своем личном кабинете вы всегда найдете подходящие вашему профилю заказ наряды, сделанные вами предложения, переписку с заказчиками. Также вы можете разместить на своей странице прайс-лист на свои услуги. Все для продуктивной работы в одном месте
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %h2.uk-text-bold Новые клиенты
        %p Вам нужны клиенты? А вы нужны им! На нашем сайте уже размещены заказы наряды, которые ждут ваших предложений. Успейте первым подать свое предложение!
      .uk-width-1-2
        %img{:src=>"./img/mm.png"}
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %img{:src=>"./img/hs.png"}
      .uk-width-1-2
        %h2.uk-text-bold Заключение соглашения
        %p Заключите при помощи нашего сервиса соглашение с заказчиком. Это поможет проконтролировать выполнение сторонами своих обязательств и даст возможность оставить оценку и отзыв о работе
    .uk-text-center
      %br
      %br
      %a#regmasterbutton.uk-button.uk-button-large.uk-button-primary{:href=>"#register", "data-uk-modal"=>"{bgclose:false}"}
        %h2.uk-margin-top Начните получать клиентов прямо сейчас!