.uk-width-1-2.uk-container-center{:style=>"padding-top: 30px;"}
  .uk-container.uk-container-center
    .uk-text-center
      %h1.uk-text-bold Ремзона24.ру - ремзона №1 для вашего автомобиля, открытая круглые сутки!
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2.uk-text-center
        %img{:src=>"./img/question.png"}
      .uk-width-1-2
        %h2.uk-text-bold Что такое Ремзона24.ру?
        %p Ремзона 24 - это сервис «скорой помощи» для любого автолюбителя. Мы те, кто помогает владельцам авто и мастерам по ремонту найти друг друга. Уже сейчас на сайте множество зарегистрированных специалистов, готовых выполнить любые работы по вашей заявке!
    .uk-grid{:style=>"padding-top: 30px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %h2.uk-text-bold Бесплатно
        %p Да! Наш сервис бесплатен. Никаких пробных периодов или скрытых платежей. Нам просто нравится помогать решать ваши проблемы!
      .uk-width-1-2.uk-text-center
        %img{:src=>"./img/free.png"}
    .uk-grid{:style=>"padding-top: 0px;", "data-uk-grid-match"=>""}
      .uk-width-1-2.uk-text-center
        %img{:src=>"./img/lk.png"}
      .uk-width-1-2
        %h2.uk-text-bold Удобный личный кабинет
        %p В своем личном кабинете вы всегда найдете ваши активные заявки, архив заявок, уведомления о поступлении предложений или вопросов по вашим заявкам.
    .uk-grid{:style=>"padding-top: 0px;", "data-uk-grid-match"=>""}
      .uk-width-1-2
        %h2.uk-text-bold Гарантия лучшей цены
        %p Вы можете сразу указать тот бюджет, который готовы потратить, или выбрать лучшую цену среди поступивших предложений.
      .uk-width-1-2.uk-text-center
        %img{:src=>"./img/bp.gif"}
    .uk-grid{:style=>"padding-top: 0px;", "data-uk-grid-match"=>""}
      .uk-width-1-2.uk-text-center
        %img{:src=>"./img/hs.png"}
      .uk-width-1-2
        %h2.uk-text-bold Заключение соглашения
        %p Заключите при помощи нашего сервиса соглашение с автомастером. Это поможет проконтролировать выполнение сторонами своих обязательств и даст возможность оставить оценку и отзыв о работе.
    .uk-text-center
      %br
      %br
      %a.uk-button.uk-button-large.uk-button-primary{:href=>"/#express", :onclick=>"yaCounterCOUNTER_ID.reachGoal('USER_EXPRESS'); return true;"}
        %h2.uk-text-bold.uk-margin-top  Создайте свою первую заявку прямо сейчас!