.uk-width-1-1{:style=>"padding-top: 30px; background: #143358 url('./img/div_pattern.png') repeat 0 0;"}
  .uk-container.uk-container-center
    .uk-text-center{:style=>"background: url('./img/index_top_bg.png') center 40% no-repeat;"}
      %h1.uk-text-bold{:style=>"color: white;"} У вас проблема с автомобилем? #{@adkeyword} Надоело искать грамотных автомастеров?
      %h2{:style=>"color: white;"} С помощью Ремзона24.ру вы с легкостью решите эти и другие вопросы, связанные с ремонтом и обслуживанием автомобиля.
      %br
      %br
      %a.uk-button.uk-button-large.uk-button-success{:href=>"/#express"}
        %h2.uk-margin-top.uk-margin-bottom-remove.uk-text-bold Создайте свою заявку
        .uk-margin-bottom Это бесплатно и не займет много времени!
      %br
      %br
      %div{:style=>"position: relative; left: 0; top: 0;"}
        %img{:src=>"./img/promoscreens.png"}
        %img{:src=>"./img/index_shadow.png", :style=>"bottom: 0; height: 70px; left: 0; position: absolute; width: 100%;"}
=yield