.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-1-1
      %h1.uk-text-right Забыли пароль?
      %form.uk-form{:action => "/resetpass", :method=>"post"}
        .uk-form-row
          %label.uk-form-label
            Введите ваш адрес электронной почты
          %input.uk-form-width-medium{:type=>"email", :required=>"", :placeholder=>"Адрес электронной почты", :name=>"email"}
          %label.uk-form-label
            и нажмите на кнопку
          %button#submit.uk-button{:type=>"submit"}Сбросить пароль