.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-2-3
      %h1.uk-text-right Cоглашение об использовании интернет-сервиса «РемЗона24.ру»
      .uk-panel.uk-panel-box
        -@terms.each do |id,q|
          %p #{q}
    - showverticalad