.bg-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 450px;
}

.bg-img-fixed {
    background-attachment: fixed;
    min-height: 350px;
}
.bg-img, .bg-img-fixed {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.tm-footer, .tm-footer a {
    color: #DDDDDD !important;
}
.tm-footer {
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 80px 0;
    background: none repeat scroll 0 0 #252525;
}

label.error {
    position: absolute;
}

html {
  font-size: 14px;
}

body {
  /* background: #FFE4B5; */
  background: #f8f8ff;
  font-family: 'PT Serif', serif;
}

body, html {
    height:100%;
}

a:hover {
  color: #FF8C00;
}

mark {
  background: #FF8C00;
  color: #000000;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.uk-pagination > li > span {
  border-radius: 0px;
}

.uk-tab > li > a {
  color: inherit;
  border-radius: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.uk-table thead th {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}

.uk-table-striped tbody tr:nth-of-type(even) td {
  background: #ffffff;
}

.uk-button {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 2px;
  -webkit-transition: .2s background ease-in-out, .1s top ease-in-out, .2s box-shadow ease-in-out;
  transition: .2s background ease-in-out, .1s top ease-in-out, .2s box-shadow ease-in-out;
  border: 1px solid rgba(1,1,1,0.2);
}

.uk-form select,
.uk-form textarea,
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
  border-radius: 0px;
}

.uk-form select:focus,
.uk-form textarea:focus,
.uk-form input:not([type]):focus,
.uk-form input[type="text"]:focus,
.uk-form input[type="password"]:focus,
.uk-form input[type="datetime"]:focus,
.uk-form input[type="datetime-local"]:focus,
.uk-form input[type="date"]:focus,
.uk-form input[type="month"]:focus,
.uk-form input[type="time"]:focus,
.uk-form input[type="week"]:focus,
.uk-form input[type="number"]:focus,
.uk-form input[type="email"]:focus,
.uk-form input[type="url"]:focus,
.uk-form input[type="search"]:focus,
.uk-form input[type="tel"]:focus,
.uk-form input[type="color"]:focus {
  border-color: #8ec73b;
  background: #fafff2;
  color: #539022;
}

.uk-button-mini {
    font-size: 14px;
}

.onscreenlink {
    border-bottom: 1px dashed !important;
    cursor: pointer;
    text-decoration: none !important;
}


.uk-badge {
    font-weight: inherit;
}

/*
.uk-table-striped tbody tr:nth-of-type(odd) {
  background: #fdf5e6;
}

.uk-panel-box {
  background: #fdf5e6;
}*/